@model ASP_Ex.Models.Content.Index.ContentIndexPageModel

@{
	Layout = "_ContentLayout";
}
<div class="row row-cols-2 row-cols-md-4 g-4">
	@foreach (var category in Model.Categories)
	{
		@Html.DisplayFor(m => category, "Category")
	}
</div>