@using System.Security.Claims
@{
	ViewData["Title"] = "Admin Page";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    String isAdmin = isAuthenticated
    ? Context
    .User
    .Claims.First(claim => claim.Type == ClaimTypes.Role).Value
    : "";
}

<div class="text-center">
	<h1 class="display-4">Адміністрування контенту</h1>
</div>
@if (isAdmin == "admin")
{
    <div id="category-container"></div>
    <br />
    <div id="product-container"></div>
}
else
{
    <h1>Access denied</h1>
}
